models/*.engine
models/*.onnx
models/yolo*
yolov5_normal
yolo*.pt
*.cache*
runs/
__pycache__/
extracted_frames/*
cvat.bat
images_all/
temp_data.txt
dataset*/**/images
flow.md
train.bat
dataset_stream/test
train*.py
grafico.py
grafici*
pippa.bat
*.npy
*.log
image_creator.py
predict.py